<div class="footer-site-name">JazzChords.org</div>

<nav class="base-footer-menu">
	<a href="#">About</a>
	<a href="#">Contact / Feedback</a>
	<a href="https://www.github.com/gitaarik/jazzchords/" target="_blank">GitHub</a>
</nav>
