<div class="footer-site-name">JazzChords.org</div>

<nav class="base-footer-menu">
  {{#link-to "about.about"}}About{{/link-to}}
	<a href="#">Contact / Feedback</a>
	<a href="https://www.github.com/gitaarik/jazzchords/" target="_blank">GitHub</a>
</nav>
