<div class="chart-search-input-container">
  <input type="text" class="chart-search-before-input">
  <input type="text" class="chart-search-input" placeholder="Search charts" autocomplete="off">
  <input type="text" class="chart-search-after-input">
  <button type="submit" class="chart-search-button fa fa-search" value="Search"></button>
</div>

{{#if searchResults}}
  <ul class="chart-search-results"></ul>
{{/if}}
