<h2>{{ section.name }}</h2>

<div class="chart-section">
  {{#each section.lines as |line|}}
    {{chart-editor-line line=line}}
  {{/each}}
  <a {{action 'addLine'}} class="line-add-button">+</a>
</div>
