<div class="line-measure">

  <div class="measure-box" {{action "toggleMeasureEditPopout"}}>

    {{#if (eq measure.beatSchema '4')}}
      {{#each measure.chords as |chord|}}
        {{chart-editor-chord chord=chord}}
      {{/each}}
    {{/if}}

  </div>

  {{#if popupOpen}}
    <div class="measure-edit-popout popout">
      <div class="popout-arrow-up"></div>
      <span class="popout-close-button fa fa-times" {{action "toggleMeasureEditPopout"}}></span>
      {{#if measure.canRemove}}
        <button class="remove-measure-button" {{action "removeMeasure"}}>Remove measure</button>
      {{/if}}
    </div>
  {{/if}}

</div>
