<article class="create">

    <input class="title" value="New chart">

    <div class="sections">

        <div class="section">

            <div class="measures">

                <div class="measure">

                    <div class="chords">
                        <div class="chord">C</div>
                    </div>
                    
                </div>

            </div>

        </div>

    </div>

</article>
