<article class="chart-editor">

    <input class="chart-title" value="New chart">

    {{#each model.sections as |section|}}

        {{#each section.measures as |measure|}}

            <div class="measure-box">

                {{#if (eq measure.beatSchema '4')}}

                    {{#each measure.chords as |chord|}}
                        <div class="chord-big">{{ chord.name }}</div>
                    {{/each}}

                {{/if}}

            </div>

        {{/each}}

    {{/each}}

</article>
