<div class="site-content-centered">

  <h1 class="heading2">All charts</h1>

  <ul class="chart-list">
      {{#each model as |chart|}}
        <li class="chart-list-item">
          {{#link-to 'charts.chart' chart class='chart-list-item-link'}}
            <span class="chart-list-item-link-song-name">{{chart.title}}</span>
          {{/link-to}}
        </li>
      {{/each}}
  </ul>

</div>
