<div class="site-content-centered">

  <h2 class="heading2">Chords symbols</h2>

  <section>

    <table class="chord-symbols-table">

      <thead>
        <tr>
          <th>Symbol</th>
          <th>Chord name</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td>M</td>
          <td>Major</td>
        </tr>

        <tr>
          <td>m</td>
          <td>Minor</td>
        </tr>

        <tr>
          <td>7</td>
          <td>Seventh</td>
        </tr>

        <tr>
          <td>△7</td>
          <td>Major Seventh</td>
        </tr>

        <tr>
          <td>-7</td>
          <td>Minor Seventh</td>
        </tr>

        <tr>
          <td>6</td>
          <td>Sixth</td>
        </tr>

        <tr>
          <td>△6</td>
          <td>Major Sixth</td>
        </tr>

        <tr>
          <td>-6</td>
          <td>Minor Sixth</td>
        </tr>

        <tr>
          <td>6/9</td>
          <td>Six Ninth</td>
        </tr>

        <tr>
          <td>9</td>
          <td>Dominant Ninth</td>
        </tr>

        <tr>
          <td>-9</td>
          <td>Minor Ninth</td>
        </tr>

        <tr>
          <td>°</td>
          <td>Diminished</td>
        </tr>

        <tr>
          <td>7+5</td>
          <td>Augmented Seventh</td>
        </tr>

        <tr>
          <td>0̸ </td>
          <td>Half Diminished</td>
        </tr>

        <tr>
          <td>7#5</td>
          <td>Dominant Seventh with Sharpened Fifth</td>
        </tr>

        <tr>
          <td>7b5</td>
          <td>Dominant Seventh with Flattened Fifth</td>
        </tr>

        <tr>
          <td>7#9</td>
          <td>Seventh with Sharpened Ninth</td>
        </tr>

        <tr>
          <td>7b9</td>
          <td>Seventh with Flattened Ninth</td>
        </tr>

        <tr>
          <td>11</td>
          <td>Eleventh</td>
        </tr>

        <tr>
          <td>13</td>
          <td>Thirteenth</td>
        </tr>

        <tr>
          <td>-△</td>
          <td>Minor Major</td>
        </tr>

        <tr>
          <td>7b9#5</td>
          <td>Seventh with Flattened Ninth and Sharpened Fifth</td>
        </tr>

        <tr>
          <td>7#9#5</td>
          <td>Seventh with Sharpened Ninth and Sharpened Fifth</td>
        </tr>

      </tbody>

    </table>

  </section>

</div>
