<div class="site-content-centered">

  <h2 class="heading3">JazzChords is a place to create, share and explore chord charts.</h2>

  <section>

    <p>
      The goal of JazzChords is to be an open and collaborative platform to
      create and share chords charts and a reliable quality resource for
      musicians to easily learn songs.
    </p>

    <p>
      I'm a guitarist and webdeveloper from Haarlem, the Netherlands, and have
      been playing jazz and related genres for a long time. Along the way I
      created JazzChords as a platform to help musicians remember their songs,
      learn new songs and collaborate better. 
    </p>

  </section>

</div>
