<header class="base-header">

  <div class="base-header-content">

    <h1 class="base-header-heading">
      <a href="/">JazzChords</a>
    </h1>

    {{chart-search}}

    {{main-menu}}

  </div>

</header>

<article>
  {{outlet}}
</article>
