<h1>Charts</h1>

<table class="chart-table">
  <thead>
    <th>Name</th>
  </thead>
  <tbody>
    {{#each model as |chart|}}
      <tr>
        <td>{{#link-to 'charts/chart' chart}}{{chart.title}}{{/link-to}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
