<div class="frontpage site-content-centered">

  <h2 class="heading1">
    Create and share<br />
    good lookin' Chord Charts.
  </h2>

  <div class="frontpage-intro-content">

    <div class="frontpage-intro-text">

      <h3 class="heading5">
        An open database of chordcharts, build by the
        community, which <a href="#">you can be a part of</a>.
      </h3>

      <h3 class="heading5">
        {{#link-to 'charts'}}Explore the list of chordcharts{{/link-to}}
        and learn new songs to play.
      </h3>

      <h3 class="heading5">
        Missing a song? <a href="#">Add it yourself</a>!
      </h3>

    </div>

    <div class="frontpage-intro-image">
      <img src="{{rootURL}}images/chart-preview-gradient-right.png" width="440">
    </div>

  </div>

</div>
